appnope==0.1.0
awscli==1.16.131
backcall==0.1.0
botocore==1.12.121
certifi==2019.6.16
chardet==3.0.4
colorama==0.3.9
decorator==4.4.0
docutils==0.14
idna==2.8
ipykernel==5.1.2
ipython==5.0.0
ipython-genutils==0.2.0
jedi==0.15.1
jmespath==0.9.4
jupyter-client==5.3.3
jupyter-core==4.5.0
lxml==4.3.3
nltk==3.4.1
numpy==1.16.4
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==1.0.16
protobuf==3.8.0
ptyprocess==0.6.0
pyasn1==0.4.5
pycountry==19.8.18
Pygments==2.4.2
python-dateutil==2.8.0
PyYAML==3.13
pyzmq==18.1.0
requests==2.22.0
rsa==3.4.2
s3transfer==0.2.0
simplegeneric==0.8.1
six==1.12.0
stanfordnlp==0.2.0
torch==1.1.0.post2
tornado==6.0.3
tqdm==4.32.2
traitlets==4.3.2
untangle==1.1.1
urllib3==1.24.1
wcwidth==0.1.7
xmltodict==0.12.0
xmlutils==1.4
